<div class="country__main-box">
    <h1 class="country__title">{{name.common}}</h1>
    <div class="country__info-box">
        <div>
            <p>Capital: <span>{{capital}}</span></p>
            <p>Population: <span>{{population}}</span></p>
            <p>Languages: <span>{{languages.name}}</span></p>
            <ol class="ln-list">
                {{#each languages}}
                    <li>{{this}}</li>
                {{/each}}
            </ol>
        </div>
        <div class="country__flag-box">
            <img src="{{flags.png}}" alt="{{name}}" 
            width="200px" height="auto">
        </div>
    </div>
    
</div>